<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <title>欢迎页面-X-admin2.0</title>
    <head th:include="inc/common :: head"></head>
    <link th:href="@{/lib/bootstrap-3.3.0/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/lib/bootstrap-table-1.11.0/bootstrap-table.min.css}" rel="stylesheet"/>
</head>
<style>
</style>
<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">属性管理</a>
        <a>
          <cite>属性列表</cite></a>
      </span>
    <button class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
            onclick="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></button>
</div>
<div id="app" class="x-body">
    <div class="layui-row">
        <div class="layui-form layui-col-md12 x-so">
            <!--<div class="layui-inline">-->
                <!--<select id="level">-->
                    <!--<option v-for="item in items" v-bind:value="item.value">{{item.text}}</option>-->
                <!--</select>-->
            <!--</div>-->
            <input type="text" name="name" placeholder="请输入名称" autocomplete="off" class="layui-input"
                   v-model="name"/>
            <button id="reset" class="layui-btn" v-on:click="reset()"><i class="layui-icon">
                &#x1006;</i></button>
            <button id="search" class="layui-btn" v-on:click="search"><i class="layui-icon">
                &#xe615;</i></button>
        </div>
    </div>
    <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon">&#xe640;</i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('新增属性','/mallPropertyKey/add')"><i class="layui-icon">&#xe654;
        </i>添加
        </button>
    </xblock>
    <table id="table"></table>
</div>
<div th:include="inc/common :: foot"></div>
<script th:src="@{/lib/bootstrap-3.3.0/js/bootstrap.min.js}"></script>
<script th:src="@{/lib/bootstrap-table-1.11.0/bootstrap-table.min.js}"></script>
<script th:src="@{/lib/bootstrap-table-1.11.0/locale/bootstrap-table-zh-CN.min.js}"></script>
<script th:inline="javascript">
    /* <![CDATA[ */

    //vue.js初始化
    var vm = new Vue({
        el: "#app",
        data: {
            sTime: '',
            eTime: '',
            name: '',
            items:[{text:'所有',value:''},{text:'一级分类',value:'1'},{text:'二级分类',value:'2'},{text:'三级分类',value:'3'}],
        },
        methods: {
            //表格高度
            tableHeight: function () {
                return $(window).height() - 200;
            },
            search: function () {
                $table.bootstrapTable('refreshOptions', {pageNumber: 1});
            },
            reset: function () {
                console.log("重置");
                this.sTime = '';
                this.eTime = '';
                this.name = '';
                $("#level").val('');
            }
        }
    });

    //表格插件
    var $table = $('#table');
    $(function () {
        // bootstrap table初始化
        $table.bootstrapTable
        ({
            url: '/mallPropertyKey/properties',
            height: vm.tableHeight(),
            striped: true,
            search: false,
            showRefresh: false,
            showColumns: false,
            minimumCountColumns: 2,
            clickToSelect: true,
            detailView: false,
            detailFormatter: 'detailFormatter',
            pagination: true,
            paginationLoop: false,
            sidePagination: 'server',
            silentSort: false,
            sortName: 'name',
            sortOrder: 'asc',
            sortable: true,
            smartDisplay: false,
            escape: true,
            searchOnEnterKey: true,
            idField: 'id',
            maintainSelected: true,
            toolbar: '#toolbar',
            columns: [
                {field: 'ck', checkbox: true},
                {
                    id: '',
                    title: '序号',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var pageNumber = $('#table').bootstrapTable('getOptions').pageNumber;
                        var pageSize = $('#table').bootstrapTable('getOptions').pageSize;
                        return (pageNumber - 1) * pageSize + index + 1;
                    }
                },
                {
                    field: 'name',
                    title: '名称',
                    align: 'center'
                },
                {
                    field: 'pName',
                    title: '上级属性',
                    align: 'center'
                },
                {
                    field: 'categoryName',
                    title: '分类名称',
                    align: 'center'
                },
                {
                    field: 'values',
                    title: '属性值',
                    align: 'center',
                    formatter: function(value, row, index){
                        var result = '';
                        for (var i = 0; i < value.length; i++){
                            result += ' <span class="layui-badge-rim">' + value[i] + '</span>'
                        }
                        return result;
                    }
                },
                {
                    field: 'id',
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return '<a title="编辑" onclick="x_admin_show(\'编辑\',\'/mallPropertyKey/edit/' + value +
                            '\')" href="javascript:;"><i class="layui-icon">&#xe642;</i></a>';
                    }
                }
            ],
            queryParams: function (params) {
                var temp = {
                    rows: params.limit,
                    page: (params.offset / params.limit) + 1,
                    sort: params.sort,
                    order: params.order,
                    name: vm.name,
                    level: $("#level").val()
                };
                return temp;
            }
        });

    });

    //查询
    function refreshAction() {
        $table.bootstrapTable('refresh');
    }

    /*用户-停用*/
    function member_stop(obj, id) {
        layer.confirm('确认要停用吗？', function (index) {

            if ($(obj).attr('title') == '启用') {

                //发异步把用户状态进行更改
                $(obj).attr('title', '停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!', {icon: 5, time: 1000});

            } else {
                $(obj).attr('title', '启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!', {icon: 5, time: 1000});
            }

        });
    }

    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            //发异步删除数据
            $(obj).parents("tr").remove();
            layer.msg('已删除!', {icon: 1, time: 1000});
        });
    }

    function delAll(argument) {
        var rows = $table.bootstrapTable('getSelections');
        if (rows.length == 0) {
            layer.alert("请至少选择一条记录", {icon: 6});
        } else {
            var ids = new Array();
            for (var i in rows) {
                ids.push(rows[i].id);
            }
            layer.confirm('确认要删除吗？', function (index) {
                vm.$http.delete('/mallPropertyKey/' + ids, {emulateJSON: true}).then(function (response) {
                    if (response.body.code == '0') {
                        layer.msg('删除成功', {icon: 1});
                        refreshAction();
                    }else {
                        layer.msg('删除失败，请先删除子属性', {icon: 1});
                        refreshAction();
                    }
                });

            });
        }
    }

    /* ]]> */
</script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>

</html>