body {
    background-color: #f5f5f5;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

a {
    color: #666;
}

li{
    list-style: none;
}

.main {
    padding-left: 0;
    padding-right: 0;
}

#header {
    border-bottom: 1px solid #e0e0e0;
    -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.07);/* 老的 Firefox */
    box-shadow: 0px 2px 5px rgba(0,0,0,0.07);
    background-color: rgba(255,255,255,0.9);
}

/*#header a{*/
/*font-size: 16px;*/
/*}*/

#header a:hover {
    color: #ff1800;
}

#footer {
    margin-top: 20px;
    background-color: white;
    text-align: center;
    padding: 20px 0;
}

#footer a:hover {
    color: red;
}


