<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.order.mapper.MallOrderDetailMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mall.order.entity.MallOrderDetail">
        <id column="order_detail_id" property="orderDetailId" />
        <result column="order_id" property="orderId" />
        <result column="goods_sku_id" property="goodsSkuId" />
        <result column="goods_name" property="goodsName" />
        <result column="goods_price" property="goodsPrice" />
        <result column="goods_marque" property="goodsMarque" />
        <result column="goods_store_barcode" property="goodsStoreBarcode" />
        <result column="goods_sku" property="goodsSku" />
        <result column="discount_rate" property="discountRate" />
        <result column="discount_amount" property="discountAmount" />
        <result column="number" property="number" />
        <result column="subtotal" property="subtotal" />
        <result column="is_goods_exists" property="isGoodsExists" />
        <result column="remark" property="remark" />
    </resultMap>

</mapper>
