<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <title>听多多自媒体平台-登录</title>
    <head th:include="inc/common :: head"></head>
</head>
<style>
</style>
<body>
<div style="width: 100%; height: 100%; min-width: 1200px; position: absolute; z-index: -1;"></div>
<div class="container-fluid main">
    <div th:include="inc/common :: navbar2"></div>

    <div class="container paper">
        <p class="paper-title" style="font-size: 24px; margin-bottom: 0;">
            侵权投诉
        </p>
        <div style="width: 100%; height: 1px; border-bottom: 1px solid #ff1800; margin: 16px 0;"></div>
        <div class="paper-text">
            <p>
                如果您认为听多多自媒体平台用户通过听多多自媒体平台提供的信息存储空间所上载、传播的内容侵犯了您的权利，您可以通过在线侵权投诉或邮箱途径向听多多自媒体平台提交书面通知，邮箱投诉请把投诉材料发送至听多多自媒体平台所设立的专门接受投诉的邮箱3253769427@qq.com，您提交的投诉材料需要包含以下内容：
            </p>
            <p>
                (一) 完整填写 <a href="/media/complaint/book">《投诉申请书》</a>，并由权利人或其合法授权人亲笔签名，若为单位则需加盖单位公章；
            </p>
            <p>
                (二) 权利人及委托人的姓名（名称）、联系方式、地址、身份证或护照扫描件（自然人）、企业法人营业执照（单位）、法定代表人身份证明（单位）；
            </p>
            <p>
                (三) “侵权内容及说明”，指权利人认为侵犯其信息网络传播权或者删除改变其权利管理电子信息的作品、表演、录音录像制品等的具体内容及其原因说明；
            </p>
            <p>
                (四) “侵权内容网页地址”，指权利人提出的侵权作品所在的具体网络地址，如浏览器顶部地址框中显示的信息，该信息对应网络内容的位置；
            </p>
            <p>
                (五) “侵权事实及证明材料”，侵权事实，指侵犯权利人信息网络传播权或者删除改变其权利管理电子信息的客观情况。证明材料包括侵权的物证、书证及著作权人的权属证明等。权属证明包括著作权登记证书（号）、首次出版的出版物版权页、授权证明、代理人授权委托书等证明文件。填写证明材料应以附件的形式提供证明性文件的原件或复印件。
            </p>
            <p>
                (六) “投诉要求”，指发出本投诉的一方向接受投诉一方提出的需要履行的具体事项。包括立即删除或断开链接侵权网络内容等事项。
            </p>
            <p>
                权利人应对通知书的真实性负责，如果通知书的内容不真实，权利人将承担由此造成的全部法律责任。以上第（二）项须以附件形式上传，第（三）项和第（五）项可以以附件形式上传。听多多自媒体平台在收到完整的投诉材料后，将通知涉嫌侵权作者并把以上内容中的第（三）项至第（六）项作为通知的附件。对于您不希望听多多自媒体平台在上述通知中全部或部分提供第（三）项至第（六）项的内容请在 <a href="#">《投诉申请书》</a>“备注”中予以特别说明。
            </p>
            <p>
                经核实后听多多自媒体平台将在合理时间内采取删除涉嫌侵权的作品、断开涉嫌侵权作品链接等措施。如果听多多自媒体平台发现您提交的投诉材料不符合上述条件或不完整的，听多多自媒体平台会请您提供相应补充，请配合，补充材料期间听多多自媒体平台暂不采取包括删除、断开连接等相应措施，对于多次上载涉嫌侵权作品的用户，听多多自媒体平台将取消其用户资格。
            </p>
            <p style="text-align: right;">
                听多多自媒体平台合规团队
            </p>
            <p style="text-align: right;">
                2018年8月
            </p>
        </div>
    </div>
</div>
<div th:include="inc/common :: plugins"></div>
</body>
<script th:inline="javascript">
    /* <![CDATA[ */

    $(function () {
        setNavtab();
    });

    /* ]]> */
</script>
</html>