<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <title>听多多自媒体平台-登录</title>
    <head th:include="inc/common :: head"></head>
</head>
<style>
</style>
<body>
<div style="width: 100%; height: 100%; min-width: 1200px; position: absolute; z-index: -1;"></div>
<div class="container-fluid main">
    <div th:include="inc/common :: navbar2"></div>

    <div class="container paper">
        <p class="paper-title" style="font-size: 24px; margin-bottom: 0;">
            发文规范
        </p>
        <div style="width: 100%; height: 1px; border-bottom: 1px solid #ff1800; margin: 16px 0;"></div>
        <div class="paper-text">
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="font-family:微软雅黑, Microsoft YaHei"><span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;">亲爱的</span><span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;">听多多</span><span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;">自媒体平台作者：</span></span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="font-family:微软雅黑, Microsoft YaHei"><span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;">听多多</span><span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;">自媒体平台致力于为广大内容创作者提供良好的创作环境，打造健康有序的内容生态。平台的良好可持续发展，有赖于各位作者的共同维护与支持。</span></span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="font-family:微软雅黑, Microsoft YaHei"><span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;">我们建议，每位</span><span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;">听多多</span><span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;">自媒体平台的作者在发文前仔细阅读本规范。如您发布的内容存在规范中提到的以下问题，将无法通过审核或不被系统推荐，违规严重帐号将受到处罚甚至封禁。</span></span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <strong><span style="color: rgb(54, 54, 54); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">1、格式</span></strong>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">1.1&nbsp;标题中含有错别字/繁体字/特殊符号，或标题不通顺，标题使用全英文/外文等；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">1.2&nbsp;正文（视频）存在全文使用繁体字/全文英文/少数民族文字，且无翻译（字幕）；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">1.3&nbsp;文章含有大段乱码/未分段/无标点；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <strong><span style="letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">2、内容</span></strong>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="font-family:微软雅黑, Microsoft YaHei"><strong><span style="letter-spacing: 0px; font-size: 16px;">2.1</span></strong><span style="letter-spacing: 0px; font-size: 16px;">&nbsp;</span><strong><span style="letter-spacing: 0px; font-size: 16px;">发布标题党内容</span></strong></span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;使用过度夸张的惊叹词，故意营造悬念引人好奇；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题文不符，标题存在歧义，断章取义，捏造正文中不存在的人、物、情节等；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">具体会被机器拦截或被退回不收录的内容包括但不限于以下几种：</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;反动违法、色情低俗、广告信息、自媒体泛时政/社会新闻等。</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;标题故意存在低俗误导;</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;标题使用没有实际数据意义的百分数;</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;故意营造强迫用户点击的行为；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;标题中使用过度夸张的词语;</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;必要成分缺失：</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">缺少主语或主语用人称/物品等指代词；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">成分残缺，为营造玄虚感，只将话说一半，为了骗取点击，营造玄虚感。</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;标题故意存在低俗误导;</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;标题使用没有实际数据意义的百分数;</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;故意营造强迫用户点击的行为。</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="font-family:微软雅黑, Microsoft YaHei"><strong><span style="color: rgb(54, 54, 54); letter-spacing: 0px; font-size: 16px;">2.2</span></strong><span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;">&nbsp;</span><strong><span style="color: rgb(54, 54, 54); letter-spacing: 0px; font-size: 16px;">发布的内容涉嫌色情低俗</span></strong></span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="font-family:微软雅黑, Microsoft YaHei"><span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;文字、图片、</span><span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;">音频、</span><span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;">视频对性部位和性行为进行过度描述或展示；</span></span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;对性部位和性行为进行暗示或内涵表述：如展示形似性器官的物品，或形似性行为的动作；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;违背公序良俗的性观念：如性虐、恋物癖、捆绑等；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;涉及古代内容不能影射现在社会；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;表现或隐晦表现性行为;</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;低俗行为类包括美女捆绑、挠脚心、按摩敏感部位、模仿性动作等;</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;涉嫌低俗的艺术、声乐作品；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="font-family:微软雅黑, Microsoft YaHei"><span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 14px;">&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;单独截取的动物交配图片；</span></span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="font-family:微软雅黑, Microsoft YaHei"><strong><span style="color: rgb(54, 54, 54); letter-spacing: 0px; font-size: 16px;">2.3</span></strong><span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;">&nbsp;</span><strong><span style="color: rgb(54, 54, 54); letter-spacing: 0px; font-size: 16px;">发布的内容含有广告信息</span></strong></span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;含有二维码、电话、个人微信/QQ号、微信群/QQ群等推广信息或者含有多处推广信息；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;推广微信公众号时使用变种文字，如威信、薇信、微^信`公`众`号等；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;推广与所发内容无关，如一个科技类账号推广关注微信公众号看手相；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联合推广，即多个帐号共同推广一个qq号、qq群、微信号、微信公众号等；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;推广微信公众号时，带有“回复xx，获得xx”等营销意图；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布的内容中含有购物链接、网盘资源下载链接等；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布商业产品、品牌、活动的推广软文及广告；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;任何形式与正文毫无相关性的推广；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="font-family:微软雅黑, Microsoft YaHei"><strong><span style="letter-spacing: 0px; font-size: 16px;">2.4</span></strong><span style="letter-spacing: 0px; font-size: 16px;">&nbsp;</span><strong><span style="letter-spacing: 0px; font-size: 16px;">发布旧闻或重复内容</span></strong></span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布过时的法律法规、国际政策；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;已过期的强时效性内容，如体育比赛、活动或节目预告、天气预报等；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;用新近发生的语气陈述早已发生了的事件；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;与平台已有内容重复；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="font-family:微软雅黑, Microsoft YaHei"><strong><span style="letter-spacing: 0px; font-size: 16px;">2.5</span></strong><span style="letter-spacing: 0px; font-size: 16px;">&nbsp;</span><strong><span style="letter-spacing: 0px; font-size: 16px;">发布不实内容</span></strong></span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;内容违背科学常理；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布与已发生事实相悖的事件情节；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="font-family:微软雅黑, Microsoft YaHei"><strong><span style="color: rgb(54, 54, 54); letter-spacing: 0px; font-size: 16px;">2.6</span></strong><span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;">&nbsp;</span><strong><span style="letter-spacing: 0px; font-size: 16px;">内容低质</span></strong></span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="font-family:微软雅黑, Microsoft YaHei"><span style="letter-spacing: 0px; font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="letter-spacing: 0px; font-size: 16px;">文章</span><span style="letter-spacing: 0px; font-size: 16px;">不完整/不丰富，如：以图片为主体/图文夹杂的文章，图片少于3张，以文字为主体的文章，字数在200字以下（诗歌、短新闻等除外）；以文字为主的文章，图片少于1张的；</span></span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;视频不清晰，无声音或声画不同步，过半时间黑屏/白屏/花屏，视频时长过短等；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;图集主题不明确、图片之间无关联；图片质量低、画面不清晰；图集内容为个人化生活组图；组图少于3张图片、内容简单；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;· &nbsp;&nbsp;&nbsp;自媒体群媒体发布社会新闻，以及社会新闻的评论文章，如新闻爆料、如打砸抢烧、交通事故、火灾等突发事故、官司纠纷等;</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;· &nbsp;&nbsp;&nbsp;渲染社会负面现象，社会导向不好的文章，将被退回不收录。</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="font-family:微软雅黑, Microsoft YaHei"><strong><span style="color: rgb(54, 54, 54); letter-spacing: 0px; font-size: 16px;">2.7</span></strong><span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;">&nbsp;</span><strong><span style="color: rgb(54, 54, 54); letter-spacing: 0px; font-size: 16px;">发布的内容违背相关现行政策与法律法规</span></strong></span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;违反宪法确定的基本原则的；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;损害国家荣誉和利益的；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;煽动民族仇恨、民族歧视，破坏民族团结的；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;破坏国家宗教政策，宣扬邪教和封建迷信的；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;散布谣言，扰乱社会秩序，破坏社会稳定的；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;侮辱或者诽谤他人，侵害他人合法权益的；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;含有法律、行政法规禁止的其他内容的，如枪支弹药、管制刀具、毒品等买卖途径、制作方法、拆解展示的违法内容；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;含有境外媒体相关内容。</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <strong><span style="color: rgb(54, 54, 54); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">2.8发布虚假内容</span></strong>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;文中描述了违背科学常理的内容：如疾病偏方、生活常识等;</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;文中描述了与已发生事实相悖的事件情节;</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;文中描述无中生有的内容或捏造谣言。</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <strong><span style="color: rgb(54, 54, 54); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">2.9侵权或侵犯隐私类内容</span></strong>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">2.9.1主体侵权</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">以下侵权行为一经发现，将对违规用户采取封、禁等形式的处理：</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;擅自使用他人已经登记注册的企业名称或商标，侵犯他人企业名称专用权及商标专用权;</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;擅自使用他人名称、头像，侵害他人名誉权、肖像权等合法权益;</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="font-family:微软雅黑, Microsoft YaHei"><span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;">·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;擅自使用、冒充他人信息注册</span><span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;">听多多</span><span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;">自媒体平台，侵害他人合法权益。</span></span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">2.9.2内容侵权</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">以下侵权行为一经发现，将对违规用户采取清除违规内容、扣分禁言、功能关闭、甚至封禁等形式的处理：</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;未经权利人授权发布他人原创内容，侵犯他人知识产权;</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;未经授权发布他人身份证号码、照片等个人隐私资料，侵犯他人肖像权、隐私权等合法权益;</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;使用侮辱、诽谤造谣等方式损害他人名誉/商誉，或捏造事实公然丑化他人人格;</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;未经授权发送企业商业秘密，侵犯企业合法权益。</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <strong><span style="color: rgb(54, 54, 54); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">2.10其他</span></strong>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;自媒体/群媒体发布社会新闻及评论性文章；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;自媒体/群媒体发布泛时政类文章；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布揭黑/举报/维权/投诉/群体性事件/暴恐爆料等内容；</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:14px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;font-family:微软雅黑, Microsoft YaHei">&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;个人用户不得转载、发布国内国际社会类内容。</span>
            </p>
            <p style="margin-top:0;margin-right:0;margin-bottom:30px;margin-left:0;padding:0 0 0 0 ;line-height:32px">
                <span style="font-family:微软雅黑, Microsoft YaHei"><span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;">*本发文规范最终解释权归</span><span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;">听多多</span><span style="color: rgb(50, 50, 50); letter-spacing: 0px; font-size: 16px;">自媒体平台所有，我们有权根据相关法律法规更新或产品运营的需要对其内容进行修改并更新。</span></span>
            </p>
            <p>
                <span style="font-size: 14px;font-family:微软雅黑, Microsoft YaHei">&nbsp;</span>
            </p>
        </div>
    </div>
</div>
<div th:include="inc/common :: plugins"></div>
</body>
<script th:inline="javascript">
    /* <![CDATA[ */

    $(function () {
        setNavtab();
    });

    /* ]]> */
</script>
</html>