<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <title>听多多自媒体平台-首页</title>
    <head th:include="inc/common :: head"></head>
    <link type="text/css" rel="stylesheet" th:href="@{/css/home.css}"/>
    <link th:href="@{/plugins/pagination1/css/jquery.pagination.css}" rel="stylesheet" type="text/css"/>
</head>
<style>
    #pagination {
        float: left;
        width: 100%;
        text-align: center;
    }
</style>
<body>
<div id="app" class="container-fluid">
    <div th:include="inc/common :: navbar3"></div>

    <div class="container row main" style="margin: 140px auto; width: 1150px; padding: 0;">
        <div th:include="inc/common :: leftNav"></div>
        <div class="right-content">
            <div class="right-content-account clo-sm-12" style="min-height: 200px;">
                <h4>主播工作台</h4>
                <img id="releaseHead" class="user-photo" width="90" height="90"/>
                <div class="user-info">
                    <p id="user-name" v-html="releaseName"></p>
                    <p id="user-type">主播类型：<span v-html="releaseType"></span></p>
                    <button class="btn btn-danger">关注数量：<span>暂无</span></button>
                    <button class="btn btn-danger" style="margin-left: 10px;">发布音频数量：
                        <span th:text="${contentsCount}"></span></button>
                </div>
            </div>
            <div class="right-content-main clo-sm-12">
                <div style="height:140px;">
                    <div class="statistics-box" style="margin-left: 0;">
                        <h2 th:text="${yestodayPlayCount}">0</h2>
                        <p><img th:src="@{/images/play_count.png}"/>昨日播放量</p>
                    </div>
                    <div class="statistics-box">
                        <h2>暂未开通</h2>
                        <p><img th:src="@{/images/fans_count.png}"/>昨日新增粉丝</p>
                    </div>
                    <div class="statistics-box">
                        <h2 th:text="${yestodayFollowCount}">0</h2>
                        <p><img th:src="@{/images/follow_count.png}"/>昨日订阅量</p>
                    </div>
                    <div class="statistics-box">
                        <h2>敬请期待</h2>
                        <p><img th:src="@{/images/weal.png}"/>认证后立即开启></p>
                    </div>
                </div>
                <!-- 轮播 -->
                <div id="scoll" class="scoll">
                    <div class="box1" id="box1">
                        <ul id="list1" class="list" style="padding: 0;">
                            <li class="li"><img th:src="@{/images/lunbo_1.png}" alt=""/></li>
                            <li class="li"><img th:src="@{/images/lunbo_2.png}" alt=""/></li>
                            <li class="li"><img th:src="@{/images/lunbo_3.png}" alt=""/></li>
                        </ul>
                    </div>
                </div>
                <!-- 官方公告 -->
                <p class="communique">官方公告</p>
                <ul class="notice">
                    <li v-for="notice in notices">
                        <a :href="'/media/mediaNotice/' + notice.id" target="_blank">
                            <span class="notice-title" v-html="notice.title">听多多自媒体上线啦~！快来围观！</span>
                            <span class="notice-hot" v-if="notice.hot">HOT</span>
                            <span class="notice-new" v-if="notice.new">NEW</span>
                            <span class="notice-time" v-html="formatTime(notice.createTime)"></span>
                        </a>
                    </li>
                </ul>
                <div id="pagination" class="page fl"></div>
            </div>
        </div>
    </div>
</div>
<div th:include="inc/common :: plugins"></div>
</body>
<script type="text/javascript" th:src="@{/plugins/carousel/js/swiperdemo.js}" charset="utf-8"></script>
<script th:src="@{/plugins/pagination1/js/jquery.pagination.min.js}"></script>
<script th:inline="javascript">
    /* <![CDATA[ */

    var curListen = [[${curListen}]];
    var allContentsCount = [[${allContentsCount}]];

    //vue.js初始化
    var vm = new Vue({
        el: "#app",
        data: {
            releaseName: curListen.name,
            releaseType: curListen.originType,
            total: 0,
            page: 1,
            rows: 5,
            totalPage: 1,
            notices: []
        },
        methods: {
            //跳转分页
            toPage: function (newPage) {
                let url = '/media/mediaNotice/list?page=' + newPage + "&rows=" + vm.rows;
                vm.$http.get(url, {emulateJSON: true}).then(function (response) {
                    vm.notices = JSON.parse(response.data.data);
                    vm.total = response.data.count;
                    setDefaultImg();
                });
            },
            //初始化分页
            initPagination: function (total, rows) {
                let totalPage = Math.ceil(total / rows);
                $("#pagination").pagination({
                    currentPage: 1,
                    totalPage: totalPage,
                    isShow: false,
                    count: 6,
                    prevPageText: "<",
                    nextPageText: ">",
                    callback: function (current) {
                        let url = '/media/mediaNotice/list?page=' + current + "&rows=" + vm.rows;
                        vm.$http.get(url, {emulateJSON: true}).then(function (response) {
                            vm.notices = JSON.parse(response.data.data);
                            vm.total = response.data.count;
                            setDefaultImg();
                        });
                    }
                });
            },
            getNotices: function () {
                var url = '/media/mediaNotice/list?page=' + this.page + "&rows=" + this.rows;
                vm.$http.get(url, {emulateJSON: true}).then(function (response) {
                    vm.notices = JSON.parse(response.data.data);
                    vm.total = response.data.count;
                    setDefaultImg();
                    this.initPagination(vm.total, vm.rows);
                    this.toPage(vm.page);
                });
            },
            formatTime: function(time){
                return fmtDate(time);
            }
        }
    });

    $(function () {
        //设置头像
        $('.user-photo').attr('src', 'clientListen/head');
        //设置菜单
        $('#left-nav-home').addClass('left-nav-active');

        //轮播图
        $("#box1").swiper({ratio: 846 / 100, time: 3000, stop: true, direction: "right"});

        setDefaultImg();
        vm.getNotices();

    });

    /* ]]> */
</script>
</html>