<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <title>听多多自媒体平台-只是产权协议</title>
    <head th:include="inc/common :: head"></head>
</head>
<style>
</style>
<body>
<div style="width: 100%; height: 100%; min-width: 1200px; position: absolute; z-index: -1;"></div>
<div class="container-fluid main">
    <div th:include="inc/common :: navbar2"></div>

    <div class="container paper">
        <p class="paper-title" style="font-size: 24px; margin-bottom: 0;">
            知识产权承诺
        </p>
        <div style="width: 100%; height: 1px; border-bottom: 1px solid #ff1800; margin: 16px 0;"></div>
        <div class="paper-text">
            <p>
                您承诺并保证，您在听多多网（www.tingduoduo.net）及“听多多”移动客户端以各种形式发布的信息，均符合《中华人民共和国著作权法》、《中华人民共和国商标法》、《中华人民共和国反不正当竞争法》、《中华人民共和国侵权责任法》、《中华人民共和国广告法》、《中华人民共和国计算机信息系统安全保护条例》、《计算机软件保护条例》及《信息网络传播权保护条例》等有关法律、法规、规章的规定。
            </p>
            <p>
                您承诺并保证，您在听多多网（www.tingduoduo.net）及“听多多”移动客户端以各种形式发布的信息，均符合社会公序良俗。
            </p>
            <p>
                您承诺并保证，您在听多多网（www.tingduoduo.net）及“听多多”移动客户端上传的文字、图片、视频、音频、多媒体资料或其他内容均拥有相应合法的权利。这些文字、图片、视频、音频、多媒体资料或其他内容，不侵犯任何第三方的肖像权、名誉权、著作权、商标权等任何权利，不违反您与任何第三方所签订的任何法律文件的规定。
            </p>
            <p>
                广州红黑信息技术有限公司有权对您上传的文字、图片、视频、音频、多媒体资料或其他内容随时进行检查或编辑。如果发现您上传的内容不符合前述承诺，广州红黑信息技术有限公司有权删除或修改您所上传的内容。对于您通过听多多网（www.tingduoduo.net）及“听多多”移动客户端上传的内容，广州红黑信息技术有限公司不保证其合法性、正当性、准确性或完整性。您应自行承担因此产生的法律责任，如果因您违反上述承诺及保证导致广州红黑信息技术有限公司因此受到损失，您应赔偿由此造成的全部损失。
            </p>
            <p><strong>版权证明是保证您在听多多平台上传内容相关权益不受侵犯的重要证明文件，如需提交证明材料，请根据以下要求发送至318519118@qq.com。</strong></p>
            <p>
                图书出版页、图书出版合同；发表网站的登陆界面网页截图、发表网站的后台管理界面网页截图、网络发表平台作者协议、文章内容网页截图（显示作者账号）；提供原稿复印件、作者提供未发表声明等。
            </p>
            <p><strong>音乐作品，请提交作者或版权方的授权证明，证明材料如下：</strong></p>
            <p><strong>已出版CD照片（封面页、版权页、目录页）、著作权登记证书或数字音乐版权注册证书；曲作者授权书、词作者授权书、演唱者授权书；原著作权人权利证明等。</strong></p>
            <p><strong>其他原创作品，请提交有足够充分的权利证明。</strong></p>
            <p>
                您在点击确认本承诺之前，请仔细阅读本承诺，并确认您已完全理解本承诺。如您对本承诺有任何疑问，请立即停止通过听多多网（www.tingduoduo.net）及“听多多”移动客户端上传的文字、图片、视频、音频、多媒体资料或其他内容，并可向听多多网客服咨询。
            </p>
        </div>
    </div>
</div>
<div th:include="inc/common :: plugins"></div>
</body>
<script th:inline="javascript">
    /* <![CDATA[ */

    $(function () {
        setNavtab();
    });

    /* ]]> */
</script>
</html>