<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <title>听多多自媒体平台-登录</title>
    <head th:include="inc/common :: head"></head>
</head>
<style>
</style>
<body>
<div style="width: 100%; height: 100%; min-width: 1200px; position: absolute; z-index: -1;"></div>
<div class="container-fluid main">
    <div th:include="inc/common :: navbar2"></div>

    <div class="container paper">
        <p class="paper-title" style="font-size: 24px; margin-bottom: 0;">
            运营规范
        </p>
        <div style="width: 100%; height: 1px; border-bottom: 1px solid #ff1800; margin: 16px 0;"></div>
        <div class="paper-text">
            <p><strong>一. 原则</strong></p>
            <p>
                听多多自媒体平台是一个开放的创作与分发平台，鼓励个人与媒体、企业、政府等机构在这里发布内容，并通过个性化推荐引擎促进分发与讨论。我们致力于提供一个良性、健康的创作环境，鼓励更多有价值的信息产生。
            </p>
            <p>
                为更好地实现上述目标，我们确定以下平台运营的基本原则，作为平台使用者一切权责的基础，期待您与我们共同维护平台运营秩序。
            </p>
            <p>
                <strong>维护良好的用户体验</strong>
            </p>
            <p>
                • 充分尊重用户并理解用户;
            </p>
            <p>
                • 提供具有价值的、持续性的并与该帐号定位高度相关的内容;
            </p>
            <p>
                • 了解听多多的个性化引擎推荐机制，并为创作所用;
            </p>
            <p>
                • 遵守国家相关法律法规，不生产违法或违反相关规则的内容或从事相关行为;
            </p>
            <p>
                • 不发送垃圾信息且不从事过度营销行为，鼓励向用户传送符合需求的真实资讯。
            </p>
            <p>
                <strong>二. 相关条款</strong>
            </p>
            <p>
                为更清晰地理解并遵守相关协议及规则，听多多自媒体平台运营者必须阅读并遵守《听多多自媒体平台发文规范》等专项规则，本运营规范基于上述协议及规则进行解释和说明，而非修改或变更上述协议及规则中的任何条款，目的是便于运营者能更顺利地使用听多多自媒体平台的服务。
            </p>
            <p>
                <strong>三. 运营规范</strong>
            </p>
            <p>
                听多多自媒体平台的良好可持续发展有赖于听多多自媒体平台运营者及用户的共同努力与支持，以下运营规范的内容有助于运营者更清晰地了解听多多自媒体平台的运营规则，期望我们一起创建并维护运营者、用户、平台等各方共赢有利的生态体系。
            </p>
            <p>
                <strong>1.&nbsp;帐号注册及审核规范</strong>
            </p>
            <p>
                <strong>1.1.注册方式</strong>
            </p>
            <p>
                注册方式有一种：电子邮箱注册。一个身份证只能进行一个帐号的申请，无论帐号申请成功与否，此身份证将不能再进行申请，且不支持注销帐号。
            </p>
            <p>
                <strong>1.2.注册材料</strong>
            </p>
            <p>
                目前，听多多自媒体平台支持5种不同类型的主体注册帐号，包括个人、媒体、国家机构、企业和组织。根据申请注册听多多自媒体平台的类型不同，申请者需要提交不同的资料，参考以下表格：
            </p>
            <table class="table table-bordered" style="text-align: center; text-indent: 0;">
                <thead>
                <tr>
                    <th>个人</th>
                    <th>媒体</th>
                    <th>国家机构</th>
                    <th>企业</th>
                    <th>组织</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>运营者身份证姓名</td>
                    <td>媒体联络人</td>
                    <td>运营者姓名</td>
                    <td>运营者姓名</td>
                    <td>组织联络人</td>
                </tr>
                <tr>
                    <td>运营者身份证号码</td>
                    <td>媒体联络人身份证号码</td>
                    <td>运营者身份证号码</td>
                    <td>运营者身份证号码</td>
                    <td>联络人身份证号码</td>
                </tr>
                <tr>
                    <td>运营者手持身份证照片</td>
                    <td>联络人身份证照片</td>
                    <td>运营者身份证号码</td>
                    <td>运营者身份证照片</td>
                    <td>联络人身份证照片</td>
                </tr>
                <tr>
                    <td>运营者手机号</td>
                    <td>联络人电话</td>
                    <td>运营者身份证照片</td>
                    <td>运营者电话</td>
                    <td>联络人电话</td>
                </tr>
                <tr>
                    <td>联系邮箱</td>
                    <td>联系邮箱</td>
                    <td>运营者电话</td>
                    <td>联系邮箱</td>
                    <td>联系邮箱</td>
                </tr>
                <tr>
                    <td></td>
                    <td>组织名称</td>
                    <td>联系邮箱</td>
                    <td>企业名称</td>
                    <td>组织机构代码证</td>
                </tr>
                <tr>
                    <td></td>
                    <td>组织机构代码证</td>
                    <td>机构名称</td>
                    <td>企业营业执照扫描件</td>
                    <td>组织名称</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>机构地址</td>
                    <td></td>
                    <td>专业资质</td>
                </tr>
                </tbody>
            </table>
            <p>
                <strong>注：</strong>
            </p>
            <p>
                • 媒体类型分为「群媒体」和「新闻机构」;
            </p>
            <p>
                a.新闻机构：有内容生产能力和生产资质的报刊、杂志、电视台、门户网站等新闻单位如，新华社发布、时尚芭莎、北京青年报、大河报等;
            </p>
            <p>
                b.群媒体：以公司形式专注于内容生产，并以内容为主要产出的创作团体，如36氪、果壳网、Mtime时光网等;
            </p>
            <p>
                c.&nbsp;帐号注册成功之后，平台不支持修改媒体类型。
            </p>
            <p>
                • 专业资质：涉及健康、财经等领域必须提供相应资质证明;
            </p>
            <p>
                a.健康领域申请必须提供执业医师证、公共营养师/心理咨询师资格证、记者证、采编许可证、医疗机构执业许可证等;
            </p>
            <p>
                b.财经领域申请必须提供证券/基金/期货/保险执业资格证、投资分析师/理财规划师资格证、记者证、采编许可证等。
            </p>
            <p>
                • 企业听多多自媒体平台定位需与企业经营范围相关，例如平台不支持科技企业申请搞笑、情感等分类帐号;
            </p>
            <p>
                • 在注册页面选择想要申请的媒体类型并提交相应资料，申请人需对材料真实性负责。
            </p>
            <p>
                <strong>1.3.注册信息规范</strong>
            </p>
            <p>
                <strong>1.3.1.帐号名称</strong>
            </p>
            <p>
                清晰、直观反应听多多自媒体平台特点。建议使用全中文媒体名。
            </p>
            <p>
                以下帐号名称不符合规范：
            </p>
            <p>
                • 名称中含有「听多多」等文字，易被用户误解为听多多官方帐号的;
            </p>
            <p>
                • 名称中包含没有具体含义的字母或数字，如“每日人物1”，“李天飞a”，易被用户理解为山寨某个已有帐号;
            </p>
            <p>
                • 名称中包括标点、特殊符号、火星文、空格等;
            </p>
            <p>
                • 名称含有明显的营销推广目的，将不予通过审核;
            </p>
            <p>
                • 名称涉及国家领导人;
            </p>
            <p>
                •
                听多多自媒体平台名称过于宽泛，没有准确描绘听多多自媒体平台特点，涵盖范围过大，如直接使用地名，如「河南」「广州」等;直接使用行业或领域名，如「房产」「互联网金融」等;单独使用通用名词/形容词/动词，如「七月」「咖啡」「数据库」「成长」等;自我吹嘘或夸大，如「全国第一XX」等;指代不清晰，如「XX专家」等，申请不予通过;
            </p>
            <p>
                • 使用第三方品牌名称，包括但不限于公司、报纸杂志、节目、知名影视作品/人物等，申请不予通过;
            </p>
            <p>
                • 企业听多多自媒体平台名称与公司名称、公司经营范围、商标名称、产品名称、服务名称等无关的，可能无法通过审核;
            </p>
            <p>
                • 以个人身份申请，帐号名称易被用户误解为公司、团体、媒体，特别是时事新闻媒体，或像「企业号」，这里主要指的是含有售卖、营销推广信息，以上情况均不予通过申请。
            </p>
            <p>
                <strong>1.3.2.帐号简介</strong>
            </p>
            <p>
                要求内容完整通顺，不能含有联系方式和特殊字符。
            </p>
            <p>
                以下简介不符合规范：
            </p>
            <p>
                • 内容包含网站链接、微博、微信、邮箱、QQ或其他联系方式;
            </p>
            <p>
                • 内容出现营销推广信息，非企业类别的帐号进行品牌推广;
            </p>
            <p>
                • 内容恶俗、消极，包含敏感、色情等信息;
            </p>
            <p>
                •「个人」类型帐号描述为平台、报纸、杂志等非个人正式组织(团队等可以);
            </p>
            <p>
                • 媒体介绍与申请帐号定位不一致。
            </p>
            <p>
                <strong>1.3.3.帐号头像</strong>
            </p>
            <p>
                以下头像不符合规范：
            </p>
            <p>
                • 使用类似听多多&nbsp;Logo 的头像;
            </p>
            <p>
                •「个人」类型帐号使用第三方品牌Logo作为头像;
            </p>
            <p>
                • 头像含有营销推广信息，如，二维码、网址、联络方式等;
            </p>
            <p>
                • 使用国家领导人照片或漫画形象作为头像;
            </p>
            <p>
                • 非国家机构帐号使用国旗、国徽、党旗、党徽等作为头像;
            </p>
            <p>
                • 使用纯色图片作为帐号头像;
            </p>
            <p>
                • 头像美观度低、缺乏健康度，低俗，模糊。如含有色情含义的头像或图像过于模糊;
            </p>
            <p>
                • 媒体头像与申请帐号的定位不符。
            </p>
            <p>
                <strong>1.3.4.帐号分类</strong>
            </p>
            <p>
                • 帐号名称、简介与帐号分类需保持一致，每个帐号只能选择一个领域分类。
            </p>
            <p>
                以下帐号分类不符合规范：
            </p>
            <p>
                • 帐号名称、简介与分类定位差异较大，如名称、简介是体育相关，而分类选择了娱乐;
            </p>
            <p>
                • 申请时在帐号简介中表明帐号定位于多个领域。
            </p>
            <p>
                <strong>1.4.不予通过的帐号类型</strong>
            </p>
            <p>
                • 个人申请军事类(纯武器装备类除外)内容的帐号，不予通过;
            </p>
            <p>
                • 个人申请社会新闻或泛时政类内容的帐号，不予通过;
            </p>
            <p>
                • 企业听多多自媒体平台的定位需与企业经营范围相关，如科技企业申请搞笑、情感等分类帐号，不予通过;
            </p>
            <p>
                • 暂不支持整形或医疗美容类帐号入驻;
            </p>
            <p>
                • 财经、健康类的帐号未提供专业的资格证明，不予通过。
            </p>
            <p>
                <strong>1.5.以下帐号申请将被永久拒绝</strong>
            </p>
            <p>
                每个听多多自媒体平台一般有3次申请入驻的机会，申请超过3次均未能按要求填写或提交资料的，有可能会被永久拒绝。出现以下违规行为的，一经发现，也将被永久拒绝帐号申请：
            </p>
            <p>
                1.5.1.涉嫌伪造或买卖身份信息的;
            </p>
            <p>
                1.5.2.涉嫌批量注册听多多自媒体平台，有养号违规行为的;
            </p>
            <p>
                1.5.3.无法证明辅助材料中的第三方平台帐号为本人所有的;
            </p>
            <p>
                1.5.4.涉嫌提供虚假资质证明的;
            </p>
            <p>
                1.5.5.&nbsp;微商、网络SEO等以营销推广为目的的帐号;
            </p>
            <p>
                1.5.6.入驻时未提供健康、财经类专业资格证明，但发布了健康、财经类内容，被平台退回要求补充资质的听多多自媒体平台，如果再次提交入驻申请时未上传健康、财经类资质，会被永久拒绝。
            </p>
            <p>
                2.&nbsp;内容发布规范
            </p>
            <p>
                <strong>2.1.审核方式</strong>
            </p>
            <p>
                听多多自媒体平台所有发布的音频均经过机器与审核编辑的双重审核，审核编辑会对音频进行初审与复审，如果内容被判定为包括但不限于标题党、低俗、广告、低质等不合规范的问题时，平台将对违规内容进行展示量的干预、退回修改、退回不收录。如果内容严重违规，则会对账号进行封号处理。
            </p>
            <p>
                <strong>2.2.问题类型</strong>
            </p>
            <p>
                具体会被机器拦截或被退回修改的内容包括但不限于以下几种：
            </p>
            <p>
                <strong>2.2.1.标题党</strong>
            </p>
            <p>
                被认定为标题党的标题种类包括但不限于：
            </p>
            <p>
                • 使用过度夸张的惊叹词;
            </p>
            <p>
                • 断章取义歪曲事实真相;
            </p>
            <p>
                • 故意营造悬念引人好奇;
            </p>
            <p>
                • 捏造正文中不存在的人、物、情节;
            </p>
            <p>
                • 题文不符，标题存在歧义。
            </p>
            <p>
                具体会被机器拦截或被退回不收录的内容包括但不限于以下几种：
            </p>
            <p>
                • 反动违法、色情低俗、广告信息、自媒体泛时政/社会新闻等。
            </p>
            <p>
                <strong>2.2.2.内容格式</strong>
            </p>
            <p>
                被认定的内容格式种类包括但不限于：
            </p>
            <p>
                • 排版混乱：文章无段落，无标点;
            </p>
            <p>
                • 语意不明：病句、错别字较多有碍于读者理解文章的内容;
            </p>
            <p>
                • 低质：图片、视频清晰度较差;音频质量较差;
            </p>
            <p>
                • 全文(视频)为外语、粤语、藏语、蒙语等且无翻译(字幕)。
            </p>
            <p>
                <strong>2.2.3.色情低俗</strong>
            </p>
            <p>
                被认定为低俗的内容种类包括但不限于：
            </p>
            <p>
                • 文字、图片、视频、音频等对性部位和性行为进行过度描述或展示;
            </p>
            <p>
                • 对性部位和性行为进行暗示或内涵表述：如展示形似性器官的物品，或形似性行为的动作;
            </p>
            <p>
                • 违背公序良俗的性观念：如性虐、恋物癖、捆绑等;
            </p>
            <p>
                • 低俗下流的艺术、声乐作品;
            </p>
            <p>
                <strong>2.2.4.广告</strong>
            </p>
            <p>
                被认定为广告的内容种类包括但不限于：
            </p>
            <p>
                • 部分不合规的联系方式推广：如个人手机号、QQ群、网址或微信或微信公众号的变形,如威信、薇信、微^信`公`众`号等;
            </p>
            <p>
                • 商业产品、品牌、活动的推广音频及广告;
            </p>
            <p>
                • 包括任何形式，与内容没有相关性的推广;
            </p>
            <p>
                • 多个帐号联合推广某一产品或微信公众号等信息。平台禁止联合推广的营销行为，联合推广行为的账号会被扣分或封禁。
            </p>
            <p>
                <strong>2.2.5.旧闻</strong>
            </p>
            <p>
                被认定为旧闻的内容种类包括但不限于：
            </p>
            <p>
                • 时效性很强的视频、音频如体育比赛、活动或节目预告、天气预报等;
            </p>
            <p>
                • 用新近发生的语气陈述已经发生很久了的事件。
            </p>
            <p>
                <strong>2.2.6.虚假</strong>
            </p>
            <p>
                被认定为虚假的内容种类包括但不限于：
            </p>
            <p>
                • 音频中描述了违背科学常理的内容：如疾病偏方、生活常识等;
            </p>
            <p>
                • 音频中描述了与已发生事实相悖的事件情节;
            </p>
            <p>
                • 音频中描述无中生有的内容或捏造谣言。
            </p>
            <p>
                <strong>2.2.7.违背相关现行政策与法律法规</strong>
            </p>
            <p>
                <strong>2.2.8.其他不合适收录的内容</strong>
            </p>
            <p>
                <strong>2.2.8.1.内容低质</strong>
            </p>
            <p>
                • 音频不完整/不丰富，如：以图片为主体/图文夹杂的文章，图片少于3张;以文字为主体的文章，字数在200字以下(诗歌、短新闻等除外);
            </p>
            <p>
                • 视频不清晰，无声音或声画不同步，过半时间黑屏/白屏/花屏，视频时长过短等;
            </p>
            <p>
                • 图集主题不明确、图片之间无关联;图片质量低、画面不清晰;图集内容为个人化生活组图;组图少于3张图片、内容简单;以图集形式发布，不得使用低质影视剧截屏，不得使用带有电视台logo字幕。
            </p>
            <p>
                2.2.8.2.自媒体群媒体发布社会新闻，以及社会新闻的评论音频，如新闻爆料、如打砸抢烧、交通事故、火灾等突发事故、官司纠纷等;
            </p>
            <p>
                2.2.8.3.渲染社会负面现象，社会导向不好的音频，将被退回不收录。
            </p>
            <p>
                <strong>3.&nbsp;惩罚条例</strong>
            </p>
            <p>
                <strong>3.1.惩罚原则</strong>
            </p>
            <p>
                听多多自媒体平台作者需严格遵守音频审核规范，违规内容将退回修改或直接不予推荐，部分严重违规内容还将触发惩罚条例。
            </p>
            <p>
                <strong>3.2.违规行为</strong>
            </p>
            <p>
                <strong>3.2.1.题文不符</strong>
            </p>
            <p>
                以下内容不符合规范：
            </p>
            <p>
                • 标题讲诉的事情与内容完全不吻合;
            </p>
            <p>
                • 标题表达的观点与内容观点相反;
            </p>
            <p>
                • 标题内容与音频大部分篇幅无关;
            </p>
            <p>
                • 影视剧片段用演员真实名字做标题;
            </p>
            <p>
                • 影视剧片段故事标题看起来像社会新闻;
            </p>
            <p>
                • 段子合集用其中一条作为标题，标题无搞笑内容体现，看起来像社会新闻。
            </p>
            <p>
                <strong>3.2.2.标题夸张</strong>
            </p>
            <p>
                以下内容不符合规范：
            </p>
            <p>
                • 标题中使用包括但不限于「震惊」、「惊呆」、「傻了」、「传疯了」、「看哭」等过度夸张的词语;
            </p>
            <p>
                • 必要成分缺失：
            </p>
            <p>
                缺少主语或主语用人称/物品指代，如「它」、「他」、「她」、「这种东西」、「这个物品」等指代词
            </p>
            <p>
                成分残缺，为营造玄虚感，只将话说一半，如「一位彩妆博主在脸上化了100层底妆!结果……」
            </p>
            <p>
                为了骗取点击，营造玄虚感，标题中使用「xx一句话」、「接下来发生的一幕」，「xx一个举动」、「xx竟然是这样」等;
            </p>
            <p>
                • 标题故意存在低俗误导;
            </p>
            <p>
                • 标题使用没有实际数据意义的百分数;
            </p>
            <p>
                • 故意营造强迫用户点击的行为，如「不看后悔」。
            </p>
            <p>
                <strong>3.2.3.色情低俗</strong>
            </p>
            <p>
                以下内容不符合规范：
            </p>
            <p>
                • 音频含有露点、性诱导、性暗示声音，直接暴露和描写人体性部位;
            </p>
            <p>
                • 涉及古代后宫艳史、嫖妓野史、宫廷淫乱、帝王性癖好、猎奇秘闻类音频;
            </p>
            <p>
                • 含有性行为、性过程、性方式的语言描述;
            </p>
            <p>
                • 表现或隐晦表现性行为，如偷拍野战、车震;
            </p>
            <p>
                • 过分裸漏及含有不雅姿态的直播视频;
            </p>
            <p>
                • 单独截取的动物交配视频;
            </p>
            <p>
                • 语言低俗类视频、音频包括改编低俗歌词、低俗二人转和民歌、语言粗俗下流等内容;
            </p>
            <p>
                • 低俗行为类包括美女捆绑、挠脚心、按摩敏感部位、模仿性声音等;
            </p>
            <p>
                • 不良性癖好(性受虐癖、性施虐癖、恋物癖、捆绑等非正常性行为)。
            </p>
            <p>
                <strong>3.2.4.广告</strong>
            </p>
            <p>
                以下内容不符合规范：
            </p>
            <p>
                • 商品广告，如：淘宝、微店等(号外功能除外);
            </p>
            <p>
                • 推广里含有个人 联系方式(电话、微信、QQ群等);
            </p>
            <p>
                • 推广里含有网址;
            </p>
            <p>
                • 推广与所发内容无关;
            </p>
            <p>
                • 推广的微信公众号，带有明显营销意图，如「回复xx，获得xx」;
            </p>
            <p>
                • 推广微信或微信公众号时使用变种，如「威信」、「薇信」、「微^信`公`众`号」等，情节严重的将予以封禁;
            </p>
            <p>
                • 推广二维码、图文形式的联络方式等;
            </p>
            <p>
                • 诱导用户点击/关注本人听多多自媒体平台之外的其他帐号，如：关注领奖、关注看答案、关注获取下载资源等。
            </p>
            <p>
                <strong>3.2.5.违反相关法律法规</strong>
            </p>
            <p>
                以下内容不符合规范：
            </p>
            <p>
                • 违反宪法确定的基本原则的;
            </p>
            <p>
                • 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的;
            </p>
            <p>
                • 损害国家荣誉和利益的;
            </p>
            <p>
                • 煽动民族仇恨、民族歧视，破坏民族团结的;
            </p>
            <p>
                • 破坏国家宗教政策，宣扬邪教和封建迷信的;
            </p>
            <p>
                • 散布谣言，扰乱社会秩序，破坏社会稳定的;
            </p>
            <p>
                • 散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的;
            </p>
            <p>
                • 侮辱或者诽谤他人，侵害他人合法权益的;
            </p>
            <p>
                • 含有法律、行政法规禁止的其他内容的，如枪支弹药、管制刀具、毒品等买卖途径、制作方法;拆解展示的违法类文;
            </p>
            <p>
                • 含有境外媒体相关内容。
            </p>
            <p>
                <strong>3.2.6.与事实不符</strong>
            </p>
            <p>
                • 发布未被证实或与客观事实相左内容。
            </p>
            <p>
                <strong>3.2.7.侵权或侵犯隐私类内容</strong>
            </p>
            <p>
                <strong>3.2.7.1.主体侵权</strong>
            </p>
            <p>
                以下侵权行为一经发现，将对违规听多多自媒体平台采取封禁形式的处理：
            </p>
            <p>
                • 擅自使用他人已经登记注册的企业名称或商标，侵犯他人企业名称专用权及商标专用权;
            </p>
            <p>
                • 擅自使用他人名称、头像，侵害他人名誉权、肖像权等合法权益;
            </p>
            <p>
                • 擅自使用信息/冒充他人注册听多多自媒体平台，侵害他人合法权益。
            </p>
            <p>
                <strong>3.2.7.2.内容侵权</strong>
            </p>
            <p>
                以下侵权行为一经发现，将对违规听多多自媒体平台采取清除违规内容、扣分禁言、功能关闭、甚至封禁等形式的处理：
            </p>
            <p>
                • 未经权利人授权发布他人原创内容，侵犯他人知识产权;
            </p>
            <p>
                • 未经授权发布他人身份证号码、照片等个人隐私资料，侵犯他人肖像权、隐私权等合法权益;
            </p>
            <p>
                • 使用侮辱、诽谤造谣等方式损害他人名誉/商誉，或捏造事实公然丑化他人人格;
            </p>
            <p>
                • 未经授权发送企业商业秘密，侵犯企业合法权益。
            </p>
            <p>
                <strong>3.3.扣分规则</strong>
            </p>
            <p>
                <strong>3.3.1.违规内容及对应扣除的分值</strong>
            </p>
            <p>
                <img class="img-fluid" th:src="@{/images/operation_table_1.png}"/>
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                <strong>3.3.2.扣分恢复规则</strong>
            </p>
            <p>
                详情请见《听多多自媒体平台帐号扣分恢复规则》
            </p>
            <p>
                <strong>3.4.惩罚规则</strong>
            </p>
            <p>
                帐户被连续禁言3天及3天以上，其听多多自媒体平台指数将受到影响，推荐量随之降低。
            </p>
            <p>
                有原创标签的视频、音频如被判定为抄袭，平台将永久收回该听多多自媒体平台的原创标签和赞赏功能。
            </p>
            <p>
                有过抄袭或发布黄色、反动内容惩罚记录的听多多自媒体平台，将不能申请原创标签和加入千人万元计划。
            </p>
            <p>
                <strong>3.5.封号规则</strong>
            </p>
            <p>
                听多多自媒体平台坚决并将持续打击损害用户收听体验、危害平台生态的行为，如果您发布的内容涉及以下严重违规行为，一经发现，即刻封号：
            </p>
            <p>
                3.5.1.恶意注册行为：涉嫌伪造身份资料或机构资质、专业资格证明，恶意批量注册听多多自媒体平台，养号卖号的帐号;
            </p>
            <p>
                3.5.2.发布反动内容、违反相关政策法律法规内容;
            </p>
            <p>
                3.5.3.发布色情低俗内容且行为恶劣;
            </p>
            <p>
                3.5.4.发布的内容与事实不符，且造成恶劣影响;
            </p>
            <p>
                3.5.5.发布恶意营销推广内容，包括但不限于以下形式：
            </p>
            <p>
                • 联合推广，即多个帐号共同推荐一个qq号、qq群、微信号、微信公众号等;
            </p>
            <p>
                • 发布免费荐股，诱导投资等非法财经投资咨询信息;
            </p>
            <p>
                • 发布传销、赌博、信用卡/公积金非法套现等内容;
            </p>
            <p>
                •
                推广信息中含有男科、妇科、壮阳、补肾、房事、性功能、老中医、祖传配方等两性信息，卖药、咽炎、便秘、口臭、鼻炎、狐臭、增高、脱发、奶昔减肥、老中医减肥/瘦身、减肥老师推荐、美容/整形(美容产品、整形机构、整形医生、整形案例)、祛痘、祛斑、丰胸、检测胎儿基因/性别等非法健康医疗广告;
            </p>
            <p>
                • 非健康、财经帐号，无相关专业资质，发表健康、财经相关内容。
            </p>
            <p>
                <strong>4.&nbsp;其他行为规范</strong>
            </p>
            <p>
                <strong>4.1.&nbsp;刷粉行为</strong>
            </p>
            <p>
                听多多自媒体平台禁止任何形式的刷粉行为，包括但不限于：刷粉丝量、阅读量、评论数、点赞数等。一经发现，平台将对帐号进行相应处罚。
            </p>
            <p>
                <strong>4.2.&nbsp;违规使用原创声明</strong>
            </p>
            <p>
                如违规声明原创，一经发现，平台将对帐号进行严厉处罚：
            </p>
            <p>
                • 声明「原创」的内容，一旦有抄袭行为，将直接取消该听多多自媒体平台「原创」功能;
            </p>
            <p>
                • 给非原创内容打上「原创」标识，将收到一次警告，警告无效将取消「原创」功能;
            </p>
            <p>
                • 被取消过「原创」功能的听多多自媒体平台，再也无法开通此功能。
            </p>
            <p>
                <strong>4.3.数据使用规范</strong>
            </p>
            <p>
                <strong>4.3.1.获取或使用用户数据</strong>
            </p>
            <p>
                未经用户许可，不得复制、存储、使用用户信息内容或传输用户数据(包括但不限于手机号，身份证号，住址等)。
            </p>
            <p>
                <strong>4.3.2.听多多自媒体平台信息内容使用</strong>
            </p>
            <p>
                未经听多多书面许可，不得对听多多自媒体平台信息内容进行包括但不限于以下行为：
            </p>
            <p>
                • 复制、读取、采用听多多自媒体平台信息内容，用于包括但不限于增加阅读量、浏览量、宣传等商业用途;
            </p>
            <p>
                • 擅自编辑、整理听多多自媒体平台信息内容，并在任何听多多自媒体平台源页面之外的渠道进行展示;
            </p>
            <p>
                • 采用包括但不限于特殊标识、特殊代码等任何形式的识别方法，对听多多自媒体平台的信息或内容产生流量、收听量引导、转移、劫持等影响;
            </p>
            <p>
                • 伪造系统通知或系统数据等系统信息，一经核实，即对涉嫌伪造系统信息的帐号进行封号处理;
            </p>
            <p>
                •未经听多多提前书面同意，不得以任何方式泄露给任何第三人，包括但不限于抓取、统计、获得的相关搜索热词、分类、点击率、收听量等。
            </p>
            <p>
                <strong>四. 动态文档</strong>
            </p>
            <p>
                本运营规范为动态文档，我们有权根据相关法律法规更新或产品运营需要对本文档的内容进行修改、更新，反复查看可获得最新信息。
            </p>
            <p style="text-align: right;">
                听多多自媒体平台团队
            </p>
        </div>
    </div>
</div>
<div th:include="inc/common :: plugins"></div>
</body>
<script th:inline="javascript">
    /* <![CDATA[ */

    $(function () {
        setNavtab();
    });

    /* ]]> */
</script>
</html>