<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <title>听多多自媒体平台-登录</title>
    <head th:include="inc/common :: head"></head>
</head>
<style>
</style>
<body>
<div style="width: 100%; height: 100%; min-width: 1200px; position: absolute; z-index: -1;"></div>
<div class="container-fluid main">
    <div th:include="inc/common :: navbar2"></div>

    <div class="container paper">
        <p class="paper-title" style="font-size: 24px; margin-bottom: 0;">
            抢注申述
        </p>
        <div style="width: 100%; height: 1px; border-bottom: 1px solid #ff1800; margin: 16px 0;"></div>
        <div class="paper-text">
            <p>
                1、名称注册规则
            </p>
            <p>
                1.1、名称中含有「听多多」文字，易被用户误解为听多多的官方帐号，如「听多多美食」、「听多多体育」、「听多多娱乐」等，申请不予通过。
            </p>
            <p>
                1.2、使用没有具体含义的字母+数字的组合，包括标点、特殊符号、火星文、空格等，如「严肃八卦1」、「每日人物a」、「李天飞**」等，易被用户误解为某个已有帐号，给读者带来困扰，同时也影响页面美观和音频体验，申请不予通过。
            </p>
            <p>
                1.3、名称含有明显营销推广目的，申请不予通过。
            </p>
            <p>
                1.4、没有准确描绘头条号特点，意义过于宽泛，如直接使用地名，如「河南」「广州」等；直接使用行业或领域名，如「房产」「互联网金融」等；申请不予通过。
            </p>
            <p>
                1.5、使用第三方品牌名称，包括但不限于节目名称、知名影视作品/人物等，申请不予通过。
            </p>
            <p>
                1.6、个人帐号名称易被用户误解为公司、机构、媒体（尤其是时事新闻媒体），如「XX 网」、「XX 报」、「XX 新闻」、「XX 报道」、「零距离」、「晚间新闻」、「平安中国」等，申请不予通过。
            </p>
            <p>
                2. 抢注申诉资格
            </p>
            <p>
                2.1、国家机构、其他组织、新闻媒体的名称被占用，可提供组织机构代码证、社团法人证书、加盖公章的说明文件等申请取回名称。
            </p>
            <p>
                2.2、自媒体作者的名称被占用，如果具有一定知名度及影响力。如今日头条帐号大V认证，微博账号大V认证，可申请取回名称。
            </p>
            <p>
                2.3、自媒体作者被恶意抄袭模仿其专辑，头像，用户名的，可申请取回名称。
            </p>
            <p>
                2.4、自媒体作者的名称被占用，如果不能提供任何知名自媒体平台，但在博客或其他平台有大量阅读数和粉丝数，需要拓展人员根据实际情况协助客服完成调查取证并给出判断。
            </p>
            <p>
                3. 抢注申诉处理流程
            </p>
            <p>
                3.1、填写申诉表格，点击此处下载表格。
            </p>
            <p>
                3.2、将申诉表格发送至3253769427@qq.com。
            </p>
            <p>
                3.3、客服收到邮件后根据上述规则判断并处理。
            </p>
            <p>
                如作者申诉成功，应由客服通知抢注作者48小时内修改其他名称，否则将其账号强制修改为“听多多自媒体（ID:xxxxxx）”。
            </p>
            <p>
                <strong>注意事项</strong>
            </p>
            <p>
                1、投诉者应提供真实有效的投诉材料。为确保投诉者提供相关材料的真实性和有效性，听多多认为必要时，可要求您提供上述材料的原件，届时还请配合提供。
            </p>
            <p>
                2、若投诉者确有合理理由不能提供证明材料原件的，应提供其复印件（复印件上应有权利人签章或签名）。
            </p>
            <p>
                3、若证明材料是在外国或港澳台地区形成的，应按照法律规定在所在国家或地区进行公证认证或其他法律要求的证明程序。
            </p>
            <p>
                4、 若投诉者已经对被投诉人提起行政或司法争议解决程序的，请将通知书和相关受理证明、提交给争议解决机构的证据一并提交听多多，这将有利于对投诉的处理。
            </p>
            <p style="text-align: right;">
                听多多自媒体平台团队
            </p>
            <p style="text-align: right;">
                2018年7月30日
            </p>
        </div>
    </div>
</div>
<div th:include="inc/common :: plugins"></div>
</body>
<script th:inline="javascript">
    /* <![CDATA[ */

    $(function () {
        setNavtab();
    });

    /* ]]> */
</script>
</html>