<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="content">
    <h3 style="text-align: center; font: 24px 'Microsoft Yahei'; margin-bottom: 40px; font-weight: bold">免责声明</h3>
    <p style="text-indent: 2em;">
        欢迎使用听多多移动客户端“听多多”。听多多由广州红黑信息技术有限公司（“红黑技术”）开发并发布。如果您使用听多多，表明您已经认真阅读、完全理解并同意遵守本免责声明。
    </p>
    <p style="text-indent: 2em;">
        听多多系根据用户（含红黑技术所开发、发布的其他平台的用户）指令提供作品上载、传播的信息网络存储空间，并基于数据挖掘技术为用户推荐定制化信息的新型软件。对任何由于用户使用听多多而侵害名誉权、肖像权、知识产权、商业秘密等合法权利权益以及其所造成的各种损失，听多多概不负责，亦不承担任何法律责任。
    </p>
    <p style="text-indent: 2em;">
        任何通过听多多中的链接得到的新闻、信息、产品或服务，听多多概不负责，亦不承担任何法律责任。
    </p>
    <p style="text-indent: 2em;">
        听多多中的所有内容并不代表听多多的意见或观点。
    </p>
</div>

</html>