<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="content">
    <img class="img-fluid" th:src="@{/images/jrwm_banner.png}"/>
    <p class="join-text">在这里，你将拥有宽松、愉悦、平等的工作环境，你将收获友爱、尊重、温暖的创业伙伴，更重要的是，你有可能实现自己最大的价值。</p>
    <ul class="row join-nav" style="padding: 0;">
        <li class="col-md-3 col-3 join-tab">
            <a class="nav-link" href="?tab=join_us&amp;joinTab=product">产品类</a>
        </li>
        <li class="col-md-3 col-3 join-tab">
            <a class="nav-link" href="?tab=join_us&amp;joinTab=operation">运营类</a>
        </li>
        <li class="col-md-3 col-3 join-tab">
            <a class="nav-link" href="?tab=join_us&amp;joinTab=content">内容类</a>
        </li>
        <li class="col-md-3 col-3 join-tab">
            <a class="nav-link disabled" href="?tab=join_us&amp;joinTab=technology">技术类</a>
        </li>
    </ul>
    <div style="margin-top: 10px; background-color: white; text-align: center;">
        <div id="cpTable">
            <div class="row join-title">
                <p class="col-md-4 col-4 join-th">职位</p>
                <p class="col-md-4 col-4 join-th">工作地</p>
                <p class="col-md-4 col-4 join-th">发布时间</p>
            </div>
            <div class="card" style="border: 0px; border-bottom: 1px solid #ddd;">
                <div class="card-header" style="background-color: white; border: 0px; padding: 1.125rem 1.25rem;">
                    <a class="card-link" data-toggle="collapse" href="#cp2">
                        <div class="row">
                            <p class="col-md-4 col-4 join-td">产品经理</p>
                            <p class="col-md-4 col-4 join-td">广州</p>
                            <p class="col-md-4 col-4 join-td">2018-08<img th:src="@{/images/jrwm_down.png}" /></p>
                        </div>
                    </a>
                </div>
                <div id="cp2" class="collapse" data-parent="#accordion">
                    <div class="card-body" style="padding-top: 0;">
                        <div class="gwzz">
                            <p>岗位职责：</p>
                            <p>1、负责内容生态建设相关产品的策划和推进。</p>
                            <p>2、配合运营团队制定发展规划，分析需求不断完善产品设计，完成相关业务指标。</p>
                            <p>3、在项目推进过程中协调沟通各部门同事，确保产品稳定发展。</p>
                            <p>岗位要求：</p>
                            <p>1、3年以上互联网产品从业经验，有自媒体内容生产或内容类应用相关经验。</p>
                            <p>2、熟悉互联网产品工作流程，有出色的产品规划能力、策划设计能力、有较高的产品品味。</p>
                            <p>3、对所负责的业务线有激情、有较强的沟通能力、逻辑分析能力、超高的执行力与解决问题的能力。</p>
                            <p>4、熟悉互联网行业，对行业状态、行业变化敏感。有独立理解、判断能力和创新能力。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="border: 0px; border-bottom: 1px solid #ddd;">
                <div class="card-header" style="background-color: white; border: 0px; padding: 1.125rem 1.25rem;">
                    <a class="card-link" data-toggle="collapse" href="#cp3">
                        <div class="row">
                            <p class="col-md-4 col-4 join-td">UI设计师</p>
                            <p class="col-md-4 col-4 join-td">广州</p>
                            <p class="col-md-4 col-4 join-td">2018-08<img th:src="@{/images/jrwm_down.png}" /></p>
                        </div>
                    </a>
                </div>
                <div id="cp3" class="collapse" data-parent="#accordion">
                    <div class="card-body" style="padding-top: 0;">
                        <div class="gwzz">
                            <p>岗位职责：</p>
                            <p>1、对公司产品的整体视觉风格的把控及设计完善。</p>
                            <p>2、负责公司web端与移动端的产品的界面设计工作，掌握PC及移动界面的设计流程，有较好的设计能力及功底。</p>
                            <p>3、有过公司品牌相关设计经验，包括海报、宣传册、单片、VI设计、官网设计（包括移动官网）与制作经验。</p>
                            <p>4、与产品经理、前端工程师，开发工程师合作，完成日常的需求与项目工作，</p>
                            <p>5、要有较强的责任心，耐心，积极向上，较强的团队合作精神。</p>
                            <p>6、对产品原型进行视觉改良，通过用户体验相关经验知识对产品进行再创造。</p>
                            <p>7、有良好的美术基础和审美能力，能够从用户体验角度来设计页面。</p>
                            <p>岗位要求：</p>
                            <p>1、相关设计专业，从事UI设计工作2年以上，有相关成功作品，能独立完成网站及APP整体视觉风格设计。（应聘时请携带相关作品）</p>
                            <p>2、熟悉掌握html、css、语言及设计与前端工程师的配合工作。</p>
                            <p>3、精通Photoshop、Illustrator、Sketch等主流平面设计软件，熟悉网页设计规则。</p>
                            <p>4、了解视觉设计的发展趋势，有良好的创意和领悟能力，能很好把握色彩和网页布局。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="yyTable">
            <div class="row join-title">
                <p class="col-md-4 col-4 join-th">职位</p>
                <p class="col-md-4 col-4 join-th">工作地</p>
                <p class="col-md-4 col-4 join-th">发布时间</p>
            </div>
            <div class="card" style="border: 0px; border-bottom: 1px solid #ddd;">
                <div class="card-header" style="background-color: white; border: 0px; padding: 1.125rem 1.25rem;">
                    <a class="card-link" data-toggle="collapse" href="#yy2">
                        <div class="row">
                            <p class="col-md-4 col-4 join-td">高级/资深视频运营</p>
                            <p class="col-md-4 col-4 join-td">广州</p>
                            <p class="col-md-4 col-4 join-td">2018-08<img th:src="@{/images/jrwm_down.png}" /></p>
                        </div>
                    </a>
                </div>
                <div id="yy2" class="collapse" data-parent="#accordion">
                    <div class="card-body" style="padding-top: 0;">
                        <div class="gwzz">
                            <p>岗位职责：</p>
                            <p>1、负责产品的基础内容运营工作，寻找并挑选优质内容，根据业务需求，响应热点事件，策划制作相关的内容专题；</p>
                            <p>2、完成内容模块的策划、落地以及复盘，根据热点策划营销方案并落地执行；</p>
                            <p>3、负责短视频内容库搭建；</p>
                            <p>4、以数据为导向，从运营角度推动产品优化和改进；</p>
                            <p>5、对数据进行分析，输出分析报告，提升运营效果。</p>
                            <p>岗位要求：</p>
                            <p>1、3年以上互联网、媒体从业经验，内容敏感度高，对热点事件有准确的价值判断，了解或擅于总结爆款文章写作；</p>
                            <p>2、具备内容运营和判断力，有短视频工作经验优先；</p>
                            <p>3、熟悉移动互联网传播，对内容呈现形态上有创新能力，关注新闻热点趣味百科；</p>
                            <p>4、思维活跃，乐于分享，喜欢研究和体验不同的互联网产品。</p>
                            <p>5、有责任心，逻辑清晰，具备创业精神。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="border: 0px; border-bottom: 1px solid #ddd;">
                <div class="card-header" style="background-color: white; border: 0px; padding: 1.125rem 1.25rem;">
                    <a class="card-link" data-toggle="collapse" href="#yy3">
                        <div class="row">
                            <p class="col-md-4 col-4 join-td">拓展运营人员</p>
                            <p class="col-md-4 col-4 join-td">广州</p>
                            <p class="col-md-4 col-4 join-td">2018-08<img th:src="@{/images/jrwm_down.png}" /></p>
                        </div>
                    </a>
                </div>
                <div id="yy3" class="collapse" data-parent="#accordion">
                    <div class="card-body" style="padding-top: 0;">
                        <div class="gwzz">
                            <p>岗位职责：</p>
                            <p>1、挖掘各自负责领域内的优秀作者，并协助其成功入驻。</p>
                            <p>2、重点以各自领域内KOL为主，可以向领导申请适当加权或调整级别。</p>
                            <p>3、发现并培养一部分有潜质的新兴自媒体人。</p>
                            <p>4、时常关注各自领域KOL，对其近况做到了如指掌。</p>
                            <p>5、解决各自领域内作者在发稿中遇到的问题</p>
                            <p>6、给新入驻作者讲明发稿规范及应注意事项。</p>
                            <p>7、协助解决作者在稿件审核过程出现疑义的问题。</p>
                            <p>8、鼓励作者发高质量稿件，并帮其推荐，提高数据。</p>
                            <p>9、重大事件或节日，拟定选题并引导作者撰稿方向。</p>
                            <p>10、所有领域建立联动机制，以便快速和准确的反应，以满足稿件时效性。</p>
                            <p>11、各自领域内的自媒体峰会或活动，可视情况参加出席。</p>
                            <p>岗位要求：</p>
                            <p>1、本科以上学历，专业不限，2年以上媒体相关工作经验。</p>
                            <p>2、具备较强的交流与表达能力，善于沟通，善于快速解决问题者优先。</p>
                            <p>3、具有准直领域自媒体资源者优先。</p>
                            <p>4、对业内自媒体平台的运营与策略具备一定了解，有相关竞品工作经验者优先。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="nrTable">
            <div class="row join-title">
                <p class="col-md-4 col-4 join-th">职位</p>
                <p class="col-md-4 col-4 join-th">工作地</p>
                <p class="col-md-4 col-4 join-th">发布时间</p>
            </div>
            <div class="card" style="border: 0px; border-bottom: 1px solid #ddd;">
                <div class="card-header" style="background-color: white; border: 0px; padding: 1.125rem 1.25rem;">
                    <a class="card-link" data-toggle="collapse" href="#nr2">
                        <div class="row">
                            <p class="col-md-4 col-4 join-td">内容审核专员</p>
                            <p class="col-md-4 col-4 join-td">广州</p>
                            <p class="col-md-4 col-4 join-td">2018-08<img th:src="@{/images/jrwm_down.png}" /></p>
                        </div>
                    </a>
                </div>
                <div id="nr2" class="collapse" data-parent="#accordion">
                    <div class="card-body" style="padding-top: 0;">
                        <div class="gwzz">
                            <p>岗位职责：</p>
                            <p>1、根据有关法律、法规及公司审核制度，审核用户作品的合法合规性及合理性；</p>
                            <p>2、管理内容体系，审核编辑/用户上传内容的描述、段落排版、图片的插入是否符合规则；</p>
                            <p>3、较高的职业素养、工作责任心强，敬业精神及团队精神，擅于沟通；</p>
                            <p>4、参与APP的日常审核及校对工作；</p>
                            <p>5、能适应早晚班的工作安排；</p>
                            <p>岗位要求：</p>
                            <p>1、编辑、出版、新闻、中文、历史等相关专业大专以上学历（文科优先）</p>
                            <p>2、有责任编辑从业经验者优先，能对突发事件有预判能力；</p>
                            <p>3、熟悉互联网信息安全知识，对国内互联网监管政策有深刻理解，了解基本法律法规；</p>
                            <p>4、熟悉互联网管理法律法规者优先；</p>
                            <p>5、熟练操作常用的网络搜索工具；</p>
                            <p>6、良好的文字功底，思维活跃，思路清晰，新闻敏感性强；</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="border: 0px; border-bottom: 1px solid #ddd;">
                <div class="card-header" style="background-color: white; border: 0px; padding: 1.125rem 1.25rem;">
                    <a class="card-link" data-toggle="collapse" href="#nr3">
                        <div class="row">
                            <p class="col-md-4 col-4 join-td">主编</p>
                            <p class="col-md-4 col-4 join-td">广州</p>
                            <p class="col-md-4 col-4 join-td">2018-08<img th:src="@{/images/jrwm_down.png}" /></p>
                        </div>
                    </a>
                </div>
                <div id="nr3" class="collapse" data-parent="#accordion">
                    <div class="card-body" style="padding-top: 0;">
                        <div class="gwzz">
                            <p>岗位职责：</p>
                            <p>1、主要负责对用户视上传的内容进行时时监控处理；</p>
                            <p>2、定期向上级汇报工作内容，及监控数据；</p>
                            <p>3、及时处理并提前预见可能发生的违法违规内容，并做到预防和处理；</p>
                            <p>4、负责处理用户的建议和投诉，负责处理和用户相关的日常事务性工作。</p>
                            <p>5、分析监控数据，定期汇总，推动监控工作优化。</p>
                            <p>6、负责与运营、产品、技术等部门沟通；</p>
                            <p>7、负责工作所需审核系统日常维护与新技术研究；</p>
                            <p>8、工作质量监督及业绩记录；</p>
                            <p>岗位要求：</p>
                            <p>1、新闻网站内容审核或相关经验。</p>
                            <p>2、良好的分析和学习能力；能够从海量数据中准确的分析规律；</p>
                            <p>3、良好的表达与沟通能力；普通话标准；</p>
                            <p>4、具有熟练的网站内容审核或监控经验（3年以上）；有新闻类网站相关经验优先。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="jsTable">
            <div class="row join-title">
                <p class="col-md-4 col-4 join-th">职位</p>
                <p class="col-md-4 col-4 join-th">工作地</p>
                <p class="col-md-4 col-4 join-th">发布时间</p>
            </div>
            <div class="card" style="border: 0px; border-bottom: 1px solid #ddd;">
                <div class="card-header" style="background-color: white; border: 0px; padding: 1.125rem 1.25rem;">
                    <a class="card-link" data-toggle="collapse" href="#js2">
                        <div class="row">
                            <p class="col-md-4 col-4 join-td">WEB前端开发（高级）工程师</p>
                            <p class="col-md-4 col-4 join-td">广州</p>
                            <p class="col-md-4 col-4 join-td">2018-08<img th:src="@{/images/jrwm_down.png}" /></p>
                        </div>
                    </a>
                </div>
                <div id="js2" class="collapse" data-parent="#accordion">
                    <div class="card-body" style="padding-top: 0;">
                        <div class="gwzz">
                            <p>岗位职责：</p>
                            <p>1、负责相关产品Web/App的前端开发工作</p>
                            <p>2、负责各业务线管理平台的前端研发工作</p>
                            <p>岗位要求：</p>
                            <p>1、精通HTML、JavaScript、Ajax、CSS等Web开发技术；</p>
                            <p>2、熟悉HTTP协议，了解TCP/IP的基本工作原理；</p>
                            <p>3、熟悉服务器端编程语言（JAVA或C++、PHP）或网络服务与应用架构平台（例如NodeJS）的有经验实践者优先；</p>
                            <p>4、对用户体验、交互操作流程、及用户需求有一定了解；</p>
                            <p>5、积极乐观，责任心强，工作认真细致，具备良好的服务意识，具有良好的团队沟通与协作能力；</p>
                            <p>6、热爱前端技术，有较强的学习能力，有强烈的求知欲、好奇心和进取心 ，能及时关注和学习业界最新的前端技术；</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="border: 0px; border-bottom: 1px solid #ddd;">
                <div class="card-header" style="background-color: white; border: 0px; padding: 1.125rem 1.25rem;">
                    <a class="card-link" data-toggle="collapse" href="#js3">
                        <div class="row">
                            <p class="col-md-4 col-4 join-td">高级iOS工程师</p>
                            <p class="col-md-4 col-4 join-td">广州</p>
                            <p class="col-md-4 col-4 join-td">2018-08<img th:src="@{/images/jrwm_down.png}" /></p>
                        </div>
                    </a>
                </div>
                <div id="js3" class="collapse" data-parent="#accordion">
                    <div class="card-body" style="padding-top: 0;">
                        <div class="gwzz">
                            <p>岗位职责：</p>
                            <p>1、负责公司产品IOS开发</p>
                            <p>岗位要求：</p>
                            <p>1、3年以上的iOS研发工作经验，多年客户端开发经验更优；</p>
                            <p>2、扎实的Object C语言基础，熟悉面向对象化编程思想和设计模式，熟悉iOS移动终端开发技术；</p>
                            <p>3、掌握iOS开发工具和测试工具的使用；</p>
                            <p>4、对移动产品有浓厚兴趣，对移动产品有较好的个人理解有强烈的上进心和求知欲，善于学习新事物，对技术充满激情；</p>
                            <p>5、具有良好的分析问题和解决问题的能力，勇于面对挑战性问题，学习能力强，有创造性思维能力，善于沟通，具备较强的团队协作意识和能力；</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="border: 0px; border-bottom: 1px solid #ddd;">
                <div class="card-header" style="background-color: white; border: 0px; padding: 1.125rem 1.25rem;">
                    <a class="card-link" data-toggle="collapse" href="#js4">
                        <div class="row">
                            <p class="col-md-4 col-4 join-td">高级PHP工程师</p>
                            <p class="col-md-4 col-4 join-td">广州</p>
                            <p class="col-md-4 col-4 join-td">2018-08<img th:src="@{/images/jrwm_down.png}" /></p>
                        </div>
                    </a>
                </div>
                <div id="js4" class="collapse" data-parent="#accordion">
                    <div class="card-body" style="padding-top: 0;">
                        <div class="gwzz">
                            <p>岗位职责：</p>
                            <p>1、1、负责项目后端系统的研发和维护工作；</p>
                            <p>2、负责跟进平台的运营监控和数据分析工作；</p>
                            <p>3、研究新兴技术，持续优化系统架构，完善基础服务。</p>
                            <p>岗位要求：</p>
                            <p>1、本科及以上学历，计算机相关专业；</p>
                            <p>2、3年以上相关开发工作经验；</p>
                            <p>3、掌握iOS开发工具和测试工具的使用；</p>
                            <p>3、精通基于LNMP的Web开发技术, 熟悉yii, yaf, zend等框架的是用及实现原理；</p>
                            <p>4、熟悉mysql、redis等应用开发，精通SQL调优和数据结构设计；</p>
                            <p>5、有较强的团队合作精神，责任感强，主动性强；</p>
                            <p>6、有大型项目开发经验，系统调优经验者优先。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>