<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.oauth.mapper.CmsClientMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cloud.oauth.entity.CmsClient">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="client_id" property="clientId" />
        <result column="secret" property="secret" />
    </resultMap>

</mapper>
