/*分页*/

.pager{
    width: 100%;
    float: left;
    text-align: center;
}

.pager button{
    border: 1px solid #ddd;
    background-color: #fff;
    width: 38px;
    height: 34px;
    margin: 0 5px;
    padding: 6px;
}

.pager button:hover{
    background-color: #ff1800;
    color: #fff;
}

.pager button:active{
    background-color: #fff;
}

.pager-pre{
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}

.pager-next{
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
}

.pager-active{
    color: #ff1800;
}