<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frontend.media.mapper.ClientReleaseMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.frontend.media.entity.ClientRelease">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="type" property="type" />
        <result column="name" property="name" />
        <result column="introduce" property="introduce" />
        <result column="head_url" property="headUrl" />
        <result column="auxiliary" property="auxiliary" />
        <result column="location" property="location" />
        <result column="field" property="field" />
        <result column="sub_field" property="subField" />
        <result column="card" property="card" />
        <result column="other" property="other" />
        <result column="email" property="email" />
        <result column="contact" property="contact" />
        <result column="agree" property="agree" />
        <result column="stat" property="stat" />
        <result column="submit_time" property="submitTime" />
        <result column="pass_time" property="passTime" />
        <result column="isactive" property="isactive" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_date" property="updatedDate" />
        <result column="boutique" property="boutique" />
        <result column="cost" property="cost" />
        <result column="vip" property="vip" />
        <result column="follow" property="follow" />
        <result column="default_follow" property="defaultFollow" />
        <result column="client_listen_id" property="clientListenId" />
    </resultMap>

</mapper>
