<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frontend.media.mapper.ClientListenMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.frontend.media.entity.ClientListen">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="name" property="name" />
        <result column="card" property="card" />
        <result column="email" property="email" />
        <result column="birthday" property="birthday" />
        <result column="sex" property="sex" />
        <result column="head_url" property="headUrl" />
        <result column="location" property="location" />
        <result column="contact" property="contact" />
        <result column="agree" property="agree" />
        <result column="field" property="field" />
        <result column="stat" property="stat" />
        <result column="create_time" property="createTime" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="sub_field" property="subField" />
        <result column="isactive" property="isactive" />
        <result column="invitation_code" property="invitationCode" />
        <result column="origin_type" property="originType"/>
    </resultMap>

</mapper>
