<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frontend.media.mapper.MediaNoticeMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.frontend.media.entity.MediaNotice">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="detail" property="detail" />
        <result column="is_hot" property="isHot" />
        <result column="is_new" property="isNew" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
