<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frontend.media.mapper.ResContentMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.frontend.media.entity.ResContent">
        <id column="id" property="id" />
        <result column="client_release_id" property="clientReleaseId" />
        <result column="client_release_name" property="clientReleaseName" />
        <result column="title" property="title" />
        <result column="summary" property="summary" />
        <result column="type" property="type" />
        <result column="tag" property="tag" />
        <result column="content_url" property="contentUrl" />
        <result column="stat" property="stat" />
        <result column="submit_time" property="submitTime" />
        <result column="pass_time" property="passTime" />
        <result column="seq" property="seq" />
        <result column="isactive" property="isactive" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_date" property="updatedDate" />
        <result column="cover_image_url" property="coverImageUrl" />
        <result column="client_listen_id" property="clientListenId" />
    </resultMap>

</mapper>
