<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <title>欢迎页面-X-admin2.0</title>
    <head th:include="inc/common :: head"></head>

</head>

<body>
<div class="x-body" id="app">
    <table id="table"></table>
</div>
<head th:include="inc/common :: foot"></head>
<script th:inline="javascript">
    /* <![CDATA[ */

    let inviterId = [[${inviterId}]];

    //vue.js初始化
    let vm = new Vue({
        el: "#app",
        data: {
            inviterId: inviterId
        }
    });

    let $table = $('#table');
    $(function () {
        // bootstrap table初始化
        $table.bootstrapTable
        ({
            url: '/friend/list',
            height: setTableHeight(),
            striped: true,
            search: false,
            showRefresh: false,
            showColumns: false,
            minimumCountColumns: 2,
            clickToSelect: true,
            detailView: false,
            detailFormatter: 'detailFormatter',
            pagination: true,
            paginationLoop: false,
            sidePagination: 'server',
            silentSort: false,
            sortName: 'create_time',
            sortOrder: 'desc',
            sortable: true,
            smartDisplay: false,
            escape: true,
            searchOnEnterKey: true,
            idField: 'id',
            maintainSelected: true,
            toolbar: '#toolbar',
            columns: [
                {field: 'ck', checkbox: true},
                {
                    id: '',
                    title: '序号',
                    align: 'center',
                    formatter: function (value, row, index) {
                        let pageNumber = $table.bootstrapTable('getOptions').pageNumber;
                        let pageSize = $table.bootstrapTable('getOptions').pageSize;
                        return (pageNumber - 1) * pageSize + index + 1;
                    }
                },
                {
                    field: 'username',
                    title: '用户名',
                    align: 'center'
                },
                {
                    field: 'name',
                    title: '昵称',
                    align: 'center'
                },
                {
                    field: 'currentGold',
                    title: '可用金币',
                    align: 'center'
                },
                {
                    field: 'friendCounts',
                    title: '徒弟',
                    align: 'center'
                },
                {
                    field: 'inviterUserName',
                    title: '师傅',
                    align: 'center',
                    formatter: function (value, row, index) {
                        let result = '';
                        if (value != null) {
                            let a = value.split("||");
                            result = '<p>' + a[0] + '</p>';
                            if (value.indexOf("1级") !== -1) {
                                result += '<span class="level-1">冻结：</span><span>' + a[2] + '</span>';
                            } else if (value.indexOf("2级") !== -1) {
                                result += '<span class="level-2">警告：</span><span>' + a[2] + '</span>';
                            } else if (value.indexOf("3级") !== -1) {
                                result += '<span class="level-3">延迟：</span><span>' + a[2] + '</span>';
                            } else if (value.indexOf("4级") !== -1) {
                                result += '<span class="level-4">异常：</span><span>' + a[2] + '</span>';
                            } else if (value.indexOf("5级") !== -1) {
                                result += '<span class="level-5">优先：</span><span>' + a[2] + '</span>';
                            }
                        }
                        return result;
                    }
                },
                {
                    field: 'listenCounts',
                    title: '收听音频数',
                    align: 'center'
                },
                {
                    field: 'createTime',
                    title: '注册时间',
                    align: 'center',
                    sortable: true
                },
                {
                    field: 'invitationCode',
                    title: '邀请码',
                    align: 'center'
                },
                {
                    field: 'lastLoginTime',
                    title: '最近登录',
                    align: 'center'
                },
                {
                    field: 'device',
                    title: '设备',
                    align: 'center'
                },
                {
                    field: 'stat',
                    title: '状态',
                    align: 'center',
                    sortable: true,
                    formatter: function (value, row, index) {
                        switch (value) {
                            case "normal" :
                                return '<span class="label label-info">正常</span>';
                                break;
                            case "audit" :
                                return '<span class="label label-default">待审核</span>';
                                break;
                            case "pass" :
                                return '<span class="label label-success">通过</span>';
                                break;
                            case "failed" :
                                return '<span class="label label-warning">未通过</span>';
                                break;
                            case "block" :
                                return '<span class="label label-danger">冻结</span>';
                                break;
                        }
                    }
                },
                {
                    field: 'id',
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return '<a class="table-operation" title="奖励" onclick="x_admin_show(\'奖励\', ' +
                            '\'/clientListen/wealDetail/' + value + '\')" href="javascript:;"><i class="layui-icon">&#xe65e;</i></a>' +
                            '<a class="table-operation" title="徒弟" onclick="x_admin_show(\'徒弟\',\'/friend/' +
                            value + '\')" href="javascript:;"><i class="layui-icon">&#xe612;</i></a>';
                    }
                }
            ],
            queryParams: function (params) {
                return {
                    rows: params.limit,
                    page: (params.offset / params.limit) + 1,
                    sort: params.sort,
                    order: params.order,
                    sifuId: inviterId
                };
            }
        });
    });

    /* ]]> */
</script>
<script>
    let _hmt = _hmt || [];
    (function () {
        let hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        let s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>

</html>