<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml" lang="zh-cn">
<head>
    <title>广州红黑信息技术</title>
    <head th:include="inc/common :: head"></head>
</head>
<style>
</style>
<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">听多多</a>
        <a>
          <cite>提现列表</cite></a>
      </span>
    <button class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
            onclick="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></button>
</div>
<div id="app" class="x-body">
    <div class="layui-row">
        <div class="layui-form layui-col-md12 x-so">
            <div class="layui-inline">
                <select id="stat" name="stat" lay-verify="">
                    <option value="0" select="true">待审核</option>
                    <option value="1">已完成</option>
                    <option value="2">通过</option>
                    <option value="3">不通过</option>
                </select>
            </div>
            <input type="text" name="username" placeholder="请输入用户名" autocomplete="off" class="layui-input"
                   v-model="username"/>
            <button id="reset" class="layui-btn" v-on:click="resetAction()"><i class="layui-icon">
                &#xe640;</i></button>
            <button id="search" class="layui-btn" v-on:click="search()"><i class="layui-icon">
                &#xe615;</i></button>
        </div>
    </div>
    <xblock>
        <button class="layui-btn layui-btn-danger" onclick="changeStat('3')"><i class="layui-icon"></i>不通过</button>
        <button class="layui-btn layui-btn" onclick="changeStat('2')"><i class="layui-icon">&#xe605;</i>通过</button>
    </xblock>
    <table id="table"></table>
</div>
<head th:include="inc/common :: foot"></head>
<script th:inline="javascript">
    /* <![CDATA[ */

    //vue.js初始化
    let vm = new Vue({
        el: "#app",
        data: {
            remark: '',
            clientListenId: '',
            username: '',
            nickName: ''
        },
        methods: {
            //表格高度
            tableHeight: function () {
                return $(window).height() - 200;
            },
            search: function () {
                $table.bootstrapTable('refreshOptions', {pageNumber: 1});
            },
            resetAction: function () {
                this.username = '';
                this.nickName = '';
            }
        }
    });

    //layui初始化
    layui.use(['laydate', 'element'], function () {
        let laydate = layui.laydate;
        laydate.render({
            elem: '#start'
            , done: function (value, date, endDate) {
                vm.sTime = value;
            }
        });
        laydate.render({
            elem: '#end'
            , done: function (value, date, endDate) {
                vm.sTime = value;
            }
        });
    });
    //表格插件
    let $table = $('#table');
    $(function () {
        // bootstrap table初始化
        $table.bootstrapTable
        ({
            url: '/withdraw/list',
            striped: true,
            search: false,
            showRefresh: false,
            showColumns: false,
            minimumCountColumns: 2,
            clickToSelect: true,
            detailView: false,
            detailFormatter: 'detailFormatter',
            pagination: true,
            paginationLoop: false,
            sidePagination: 'server',
            silentSort: false,
            sortName: 'create_time',
            sortOrder: 'desc',
            sortable: true,
            smartDisplay: false,
            escape: true,
            searchOnEnterKey: true,
            idField: 'id',
            maintainSelected: true,
            toolbar: '#toolbar',
            columns: [
                {field: 'ck', radio: true},
                {
                    id: '',
                    title: '序号',
                    width: 20,
                    align: 'center',
                    formatter: function (value, row, index) {
                        let pageNumber = $table.bootstrapTable('getOptions').pageNumber;
                        let pageSize = $table.bootstrapTable('getOptions').pageSize;
                        return (pageNumber - 1) * pageSize + index + 1;
                    }
                },
                {field: 'username', title: '用户名', align: 'center'},
                {
                    field: 'sifuUserName',
                    title: '师傅',
                    align: 'center',
                    formatter: function (value, row, index) {
                        let result = '';
                        if (value !== null && value !== '') {
                            let a = value.split("-");
                            result = '<p>' + a[0] + '</p>';
                            if (value.indexOf("1级") !== -1) {
                                result += '<span class="level-1">冻结：</span><span>' + a[2] + '</span>';
                            } else if (value.indexOf("2级") !== -1) {
                                result += '<span class="level-2">警告：</span><span>' + a[2] + '</span>';
                            } else if (value.indexOf("3级") !== -1) {
                                result += '<span class="level-3">延迟：</span><span>' + a[2] + '</span>';
                            } else if (value.indexOf("4级") !== -1) {
                                result += '<span class="level-4">异常：</span><span>' + a[2] + '</span>';
                            } else if (value.indexOf("5级") !== -1) {
                                result += '<span class="level-5">优先：</span><span>' + a[2] + '</span>';
                            }
                        }
                        return result;
                    }
                },
                {field: 'currentGold', title: '可用金币', align: 'center'},
                {field: 'boxCount', title: '今日宝箱', align: 'center'},
                {field: 'friendCounts', title: '徒弟', align: 'center'},
                {
                    field: 'type',
                    title: '渠道',
                    align: 'center',
                    formatter: function (value, row, index) {
                        if (value === 1) {
                            return "支付宝";
                        } else if (value === 2) {
                            return "微信";
                        }
                    }
                },
                {field: 'alipayName', title: '提现账户', align: 'center'},
                {
                    field: 'coin',
                    title: '金额',
                    align: 'center',
                    sortable: true,
                    formatter: function (value, row, index) {
                        if (value >= 50) {
                            return '<span style="color: red">' + value + '</span>';
                        } else {
                            return '<span style="color: #00bf00">' + value + '</span>';
                        }
                    }
                },
                {
                    field: 'createTime',
                    title: '注册时间',
                    align: 'center',
                    width: 50,
                    sortable: true,
                    formatter: function (value, row, index) {
                        return new Date(parseInt(value)).toLocaleString().replace(/:\d{1,2}$/, ' ');
                    }
                },
                {
                    field: 'time',
                    title: '申请时间',
                    align: 'center',
                    width: 50,
                    sortable: true,
                    formatter: function (value, row, index) {
                        return new Date(parseInt(value)).toLocaleString().replace(/:\d{1,2}$/, ' ');
                    }
                },
                {
                    field: 'device',
                    title: '设备',
                    align: 'center',
                    width: 300
                },
                {
                    field: 'level',
                    title: '危险',
                    align: 'center',
                    formatter: function (value, row, index) {
                        if (value === 0) {
                            return '<span class="level-0"></span>';
                        } else if (value === 1) {
                            return '<span class="level-1">冻结</span>';
                        } else if (value === 2) {
                            return '<span class="level-2">警告</span>';
                        } else if (value === 3) {
                            return '<span class="level-3">延迟</span>';
                        } else if (value === 4) {
                            return '<span class="level-4">异常</span>';
                        } else if (value === 5) {
                            return '<span class="level-5">优先</span>';
                        }
                        return value;
                    }
                },
                {
                    field: 'remark',
                    title: '备注',
                    align: 'center'
                },
                {
                    field: 'status',
                    title: '状态',
                    align: 'center',
                    sortable: true,
                    formatter: function (value, row, index) {
                        if (value === 0) {
                            return '<span class="label label-default">待审核</span>';
                        } else if (value === 1) {
                            return '<span class="label label-info">已完成</span>';
                        } else if (value === 2) {
                            return '<span class="label label-success">审核通过</span>';
                        } else if (value === 3) {
                            return '<span class="label label-danger">审核未通过</span>';
                        }
                    }
                },
                {
                    field: 'successTime',
                    title: '最近到账',
                    width: 50,
                    align: 'center',
                    formatter: function (value, row, index) {
                        if (value === '' || value == null) {
                            return '';
                        }
                        return new Date(parseInt(value)).toLocaleString().replace(/:\d{1,2}$/, ' ');
                    }
                },
                {
                    field: 'clientListenId',
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return '<a class="table-operation" title="奖励" onclick="x_admin_show(\'奖励\', ' +
                            '\'/clientListen/wealDetail/' + value + '\')" href="javascript:;"><i class="layui-icon">&#xe65e;</i></a>' +
                            '<a class="table-operation" title="徒弟" onclick="x_admin_show(\'徒弟\',\'/friend/' +
                            value + '\')" href="javascript:;"><i class="layui-icon">&#xe612;</i></a>' +
                            '<a class="table-operation" title="标记危险" onclick="x_admin_show(\'标记危险\',\'/safety/' +
                            value + '\')" href="javascript:;"><i class="layui-icon">&#xe667;</i></a>';
                    }
                }
            ],
            queryParams: function (params) {
                return {
                    rows: params.limit,
                    page: (params.offset / params.limit) + 1,
                    sort: params.sort,
                    order: params.order,
                    username: vm.username,
                    stat: $('#stat option:selected').val()
                };
            }
        });

    });

    /*用户-停用*/
    function member_stop(obj, id) {
        layer.confirm('确认要停用吗？', function (index) {

            if ($(obj).attr('title') === '启用') {

                //发异步把用户状态进行更改
                $(obj).attr('title', '停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!', {icon: 5, time: 1000});

            } else {
                $(obj).attr('title', '启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!', {icon: 5, time: 1000});
            }

        });
    }

    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            //发异步删除数据
            $(obj).parents("tr").remove();
            layer.msg('已删除!', {icon: 1, time: 1000});
        });
    }

    function changeStat(stat) {
        let confirmTitle = "确认审核通过吗？";
        if (stat === '3') {
            confirmTitle = "确认审核不通过吗？"
        }
        let rows = $table.bootstrapTable('getSelections');
        if (rows.length !== 1) {
            layer.alert("请选择一条记录", {icon: 6});
        } else {
            let ids = [];
            for (let i in rows) {
                if (rows.hasOwnProperty(i)) {
                    ids.push(rows[i].id);
                }
            }
            layer.confirm(confirmTitle, function (index) {
                vm.$http.put('/withdraw/' + ids, {
                    status: stat
                }, {emulateJSON: true}).then(function (response) {
                    let result = response.body;
                    if (result.code === 0) {
                        layer.msg('操作成功', {icon: 1});
                        vm.search();
                    } else {
                        layer.msg(result.msg, {icon: 2});
                    }
                });

            });
        }
    }

    /* ]]> */
</script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>

</html>